* {
    margin: 0;
    padding: 0;
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    transform: translate(-50%, -50%);
}
li {
    position: relative;
    float: left;
    list-style: none;
    width: 70px;
    height: 500px;
    border-radius: 60px;
    margin: 0 10px;
    cursor: pointer;
}
.one {
    width: 800px;
    height: 500px;
    background: url(images/1.jpg) no-repeat center;
    background-size: cover;
    transition: width 2s ease-in;
}
.two {
    background: url(images/2.jpg) no-repeat center;
    background-size: cover;
}
.three {
    background: url(images/3.jpg) no-repeat center;
    background-size: cover;
}
.four {
    background: url(images/4.jpg) no-repeat center;
    background-size: cover;
}
.five {
    background: url(images/5.jpg) no-repeat center;
    background-size: cover;
}
.one span {
    display: block;
}
span {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 20px;
}
.tran {
    transition: opacity 0.3s ease-in 0.4s;
}
